@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ff8800;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.contain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main-img img {
  width: 150px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
/* icon styliing start */
.contain-tag {
  display: flex;
  align-items: center;
}
.contain-tag i {
  color: #fff;
  font-size: 10px;
}
.contain-tag a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  font-family: "Open Sans", sans-serif;
}
.contain-tag a:hover {
  border-bottom: 2px solid #fff;
}
.contain-label i {
  color: #fff;
  font-size: 10px;
}
.contain-label label {
  color: #fff;
  padding-right: 10px;
  font-family: "Open Sans", sans-serif;
}
.contain-label label:hover {
  border-bottom: 2px solid #fff;
}
/* icon styling end */

/* btn style start */
.btn a {
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  border: #fff solid 1px;
  font-size: 15px;
  transition: 0.2s ease-in-out;
  font-family: "Open Sans", sans-serif;
}
.btn a:hover {
  background-color: #fff;
  color: #000;
}

/* form section start*/
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 550px;
  margin: 45px 0;
  width: 420px;
  height: 542px;
  margin-right: 100px;
  box-shadow: 20px 10px 20px 10px #c3c2c2, 20px 10px 20px 10px #c3c2c2;
  box-sizing: border-box;
  gap: 1rem;
  border-radius: 10px;
}
.form-header {
  background-color: #f5f5f5;
  width: 100%;
  height: 70px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  padding-left: 20px;
  font-size: 20px;
}
.form-header i {
  display: flex;
  font-size: 20px;
  padding: 10px;
  color: #999;
}
.form-header p {
  font-size: 25px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}
.form-title {
  font-size: 20px;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}
.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 12px;
}
.form-control input {
  width: 380px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
}
/* .form-control input {
  width: 420px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
} */
.small {
  color: #fff;
  padding: 10px 10px;
  margin-left: 40px;
  display: none;
  flex-direction: column;
  text-align: start;
  background-color: rgb(193, 6, 6);
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  border-radius: 3.2px;
  width: 330px;
  float: left;
  transition: all 0.5s ease-in-out;
}
.form-check {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #0077bb;
  font-family: "Open Sans", sans-serif;
}
.form-check input {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
button {
  width: 85%;
  padding: 10px 10px;
  margin: 20px;
  margin-left: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #0077bb;
  color: #fff;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}
/* form section end */

.form-control {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  width: 100%;
}
.form-control i {
  position: absolute;
  left: 12px;
  bottom: 10px;
  color: #999;
  font-size: 18px;
  font-size: 15px;
}
.form-control label {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.form-control i {
  position: absolute;
  left: 12px;
  bottom: 10px;
  color: #999;
  font-size: 15px;
}
.form-control a {
  position: absolute;
  right: 30px;
  bottom: -25px;
  text-decoration: none;
  color: #0077bb;
  font-family: "Open Sans", sans-serif;
}
.input-password a:hover {
  border-bottom: 1px solid #000;
}
.checkbox {
  font-family: "Open Sans", sans-serif;
  color: #0077bb;
  font-size: 20px;
}

/* footer section Start */

.footer-section {
  width: 100%;
  height: 100%;
  background-color: #ff8800;
}
.footer-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-link {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 100%;
}
.footer-link a {
  text-decoration: none;
  padding-left: 20px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.footer-link-tag {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  justify-content: end;
}
